* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.contactbar {
    font-size: 0.9vw;
    background-color: rgb(8, 8, 120);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
}

.contactbar ul {
    list-style-type: none
}

.contactbar ul li {
    display: inline;
}

.floating-contact-icon {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #25D366;
    background-color: #25D366;
    opacity: 0.9;
    /* background-color: rgb(8, 8, 120); */
    color: white;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 9;
}

#navbar {
    position: sticky;
    top: 0px;
    z-index: 9;
    padding: 3px 55px;
    color: rgb(8, 8, 120);
    background-color: whitesmoke;
}

#menu-icon,
.shop-link {
    display: none;
}

.bar-item {
    width: 25px;
    height: 2px;
    background-color: rgb(8, 8, 120);
    margin: 5px 0;
}


#nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li a,
#navbar a {
    display: block;
    /* color: rgb(8, 8, 120); */
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: rgb(8, 8, 120);
}

#main {
    padding-bottom: 8rem;
    /* Footer height */
}

.hero-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 90vw; */
    height: 40vw;
    background-color: lightslategray;
}

.hero-back {
    display: flex;
    height: 100%;
    width: 100%;
}

.hero-back img {
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    flex: 2;
}

.left-hero-back {
    opacity: 0.6;
    flex: 1;
    height: 100%;
    background-color: navy;
}

.hero-front {
    padding: 10px 50px;
    color: white;
    position: absolute;
    left: 5%;
    top: 35%;
}

.hero-front p {
    font-size: 2vw;
    margin-bottom: 10px;
    text-align: left;
}

button {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
}


.services-header {
    display: none;
}

.services-group {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    height: 18vw;
    width: 80vw;
    position: relative;
    top: -50px;
}

.services-box {
    cursor: pointer;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    color: rgb(8, 8, 120);
    background-color: lightskyblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-shadow: 3px 3px 20px lightblue;
    height: 85%;
    width: 20%;
    transition: all .2s;
}

.services-box:hover {
    transform: scale(1.1);
}

.services-box p {
    text-align: center;
}


.values-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 22vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.values-header,
.reviews-header,
.items-header,
.packages-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.guard-line {
    width: 10vw;
    margin: 0px 8px;
    height: 0.2vh;
    background-color: rgb(8, 8, 120);
}

.values-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 70%;
}

.value-box {
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 80%;
    color: rgb(8, 8, 120);
    background-color: #cadff4;
}

.view-gallery-wrapper {
    box-shadow: 3px 3px 20px lightblue;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    height: 20vh;
    width: 55vw;
    position: relative;
}

.view-gallery-wrapper img {
    border-radius: 5px;
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

/* .view-gallery-image {
    height: 100%;
    width: 90%;
    background-color: brown;
} */

.view-gallery-overlay {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8, 50, 120);
    opacity: 0.8;
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 40%;
}

.view-gallery-overlay .guard-line {
    background-color: white;
}


.reviews-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    padding: 0px 30px;
    /* background-color: blueviolet; */
    height: 30vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reviews-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.review-box {
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 90%;
    width: 20%;
}

.more-reviews {
    background-color: chocolate;
    border: 1px solid black;
    height: 80%;
    width: 10%;
    border-radius: 30%;
}


#footer {
    background-color: #00003B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    /* Footer height */
}

#footer-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
}

#footer a {
    color: white;
}

#footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#footer-sm-links {
    list-style-type: none;
    /* display: flex;
    flex-direction: row; */
}

/* Helper classes */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Helper classes */


/* SHOP */
.shop-items-wrapper,
.package-items-wrapper {
    justify-content: space-around;
    align-items: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.items-group,
.packages-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80vw;
}

.item-box,
.package-box {
    border-radius: 10px;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3vw;
    border: 1px solid lightskyblue;
}

.item-title p {
    text-align: center;
}

.item-title,
.package-title {
    justify-content: space-around;
    padding: 15px 5px;
    width: 60%;
}

.item-main-title {
    font-size: 2.5vw;
}

.item-price {
    font-size: 2vw;
}

.item-image,
.package-image {
    width: 40%;
}

.item-image img,
.package-image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* SHOP */

/* SOLAR */
.solar-intro {
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2vw;
    line-height: 2;

}

/* SOLAR */



@media only screen and (max-width: 768px) {

    .contactbar {
        font-size: 2.8vw;
        line-height: 1.8;
        padding: 2px 10px;
    }

    #navbar {
        padding: 3px 10px;
    }

    #menu-icon,
    .shop-link {
        display: block;
        cursor: pointer;
    }


    .shop-link a {
        border-radius: 5px;
        color: white;
        background-color: rgb(8, 8, 120);
    }

    .nav-links {
        display: none;
    }

    #nav-content {
        position: relative;
    }

    .mobile-nav {
        z-index: 9;
        display: block;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        padding: 0px 35px;
        position: absolute;
        top: 50px;
        right: -55px;
    }

    .hero-container {
        height: 55vw;
    }

    .hero-back {
        flex-direction: column;
    }

    .hero-back img {
        flex: 1;
    }

    .left-hero-back {
        display: none;
        flex: 1;
    }

    .hero-front {
        padding: 10px 50px;
        color: white;
        background-color: rgb(8, 50, 120);
        opacity: 0.8;
        left: 5%;
        top: 20%;
    }

    .hero-front p {
        font-size: 5vw;
    }

    .services-wrapper {
        margin-top: 5vh;
    }

    .services-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .services-group {
        margin-top: 5vh;
        margin-bottom: 5vh;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 70vw;
        position: static;
    }

    .services-box {
        font-size: 5vw;
        margin: 5vw 0px;
        padding: 15px 15px;
        height: 70vw;
        width: 100%;
    }

    .values-wrapper {
        margin-top: 5vh;
        height: 80vw;
    }

    .values-group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70vw;
        height: 90%;
    }

    .value-box {
        flex-direction: row;
        justify-content: unset;
        width: 100%;
        height: 30%;
    }

    .value-box i {
        margin-left: 4vw;
        margin-right: 12vw;
    }

    .view-gallery-wrapper {
        /* height: 30vh; */
        border-radius: 20px;
        width: 70vw;
    }

    .view-gallery-wrapper img {
        border-radius: 20px;
    }

    .view-gallery-overlay {
        font-size: 4vw;
    }

    .reviews-wrapper {
        height: 60vw;
        overflow-x: auto;
    }

    .review-box {
        flex-shrink: 0;
        background-color: cornflowerblue;
        border: 1px solid black;
        height: 80%;
        width: 100%;
    }

    #main {
        padding-bottom: 20rem;
        /* Footer height */
    }

    /* SHOP */

    .items-group {
        width: 80vw;
    }

    .item-box {
        border: none;
        background-color: #ccc;
        flex-direction: column;
    }

    .item-title {
        width: 100%;
    }

    .item-main-title {
        font-size: 4vw;
    }

    .item-price {
        font-size: 3.5vw;
    }

    .item-image {
        width: 100%;
    }

    .item-box p {
        text-align: center;
    }

    .item-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* SHOP */

    /* SOLAR */
    .solar-intro {
        font-size: 3.1vw;
        line-height: 1.7;
    }

    /* SOLAR */

    #footer {
        height: 18rem;
    }


    #footer-links {
        display: flex;
        flex-direction: column;
    }


}