* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-size: 100%;
    font-family: Verdana, Arial, sans-serif;
    letter-spacing: 1px;
}

#page_container {
    position: relative;
    min-height: 100vh;
}

.contactbar {
    font-size: 1em;
    background-color: rgb(0, 0, 100);
    color: white;
    justify-content: space-between;
    padding: 3px 10px;
}

.contactbar ul {
    list-style-type: none
}

.contactbar ul li {
    display: inline;
}

.floating_icon {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #25D366;
    background-color: #25D366;
    opacity: 0.9;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 9;
}

#navbar {
    position: sticky;
    top: 0px;
    z-index: 9;
    padding: 3px 55px;
    color: rgb(0, 0, 100);
    background-color: whitesmoke;
}

.brand_logo {
    height: 50%;
    color: rgb(120, 8, 79);
    /* background-color: rgba(0, 0, 100,0.1); */
}



.brand_logo img {
    height: 100%;
    width: 90px;
    color: #25D366;
    object-fit: cover;
    object-position: center;
}

#menu_icon,
.shop_link {
    display: none;
}

.bar_item {
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 100);
    margin: 5px 0;
}


#nav_content {
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li a,
#navbar a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#brand_logo a {
    display: inline;
}

li a:hover {
    color: white;
    background-color: rgb(0, 0, 100);
}

#main {
    padding-bottom: 8rem;
    /* Footer height */
}

.hero_container {
    position: relative;
    height: 40vw;
    background-color: lightslategray;
}

.hero_back {
    height: 100%;
    width: 100%;
}

.hero_back img {
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    flex: 2;
}

.left_hero_back {
    opacity: 0.7;
    flex: 1;
    height: 100%;
    background-color: rgb(0, 0, 100);
}

.hero_front {
    padding: 10px 50px;
    color: white;
    position: absolute;
    left: 5%;
    top: 35%;
}

.hero_front p {
    font-size: 2vw;
    margin-bottom: 10px;
    text-align: left;
}

button {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
}


.services_header {
    display: none;
}

.services_group {
    justify-content: space-around;
    align-items: flex-start;
    height: 18vw;
    width: 80vw;
    position: relative;
    top: -50px;
}

.services_box {
    cursor: pointer;
    font-size: 1.2vw;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    color: rgb(0, 0, 100);
    background-color: lightskyblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-shadow: 3px 3px 20px lightblue;
    height: 85%;
    width: 20%;
    transition: all .2s;
}

.services_box:hover {
    transform: scale(1.1);
}

.services_box p {
    text-align: center;
}


.values_wrapper {
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    /* height: 22vw; */
    margin-bottom: 10vw;
}

.values_header,
.reviews_header,
.items_header,
.packages_header {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4vw;
}

.guard_line {
    width: 10vw;
    margin: 0px 8px;
    height: 0.2vh;
    background-color: rgb(0, 0, 100);
}

.values_group {
    justify-content: space-around;
    width: 100%;
    /* height: 70%; */
}

.value_box {
    padding: 15px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 80%;
    color: rgb(0, 0, 100);
    /* background-color: rgba(0, 0, 100, 0.1); */
}

.view_gallery_wrapper {
    box-shadow: 3px 3px 20px lightblue;
    border-radius: 5px;
    margin-bottom: 10vh;
    height: 20vh;
    width: 55vw;
    position: relative;
}

.view_gallery_wrapper img {
    border-radius: 5px;
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}


.view_gallery_overlay {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 100);
    opacity: 0.8;
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 40%;
}

.view_gallery_overlay .guard_line {
    background-color: white;
}


.reviews_wrapper {
    margin-bottom: 5vh;
    padding: 0px 30px;
    height: 30vh;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
}

.reviews_group {
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.review_box {
    background-color: rgba(0, 0, 100, 0.3);
    border: 1px solid black;
    height: 90%;
    width: 20%;
}

.more_reviews {
    background-color: chocolate;
    border: 1px solid black;
    height: 80%;
    width: 10%;
    border-radius: 30%;
}


#footer {
    background-color: #00003B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    /* Footer height */
}

#footer_content {
    color: white;
    justify-content: space-around;
    align-items: center;
}

#footer a {
    color: white;
}

#footer_links {
    list-style-type: none;
}

#footer_sm_links {
    list-style-type: none;
}

/* Helper classes */
.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.centerAlign {
    margin-right: auto;
    margin-left: auto;
}

/* Helper classes */


/* SHOP */
.shop_header {
    margin-bottom: 50px;
    background-color: lightskyblue;
    text-align: center;
    width: 60vw;
    padding: 20px;
}

.shop_items_wrapper,
.package_items_wrapper {
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10vw;
}

.items_group {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 60vw;
}

.item_box {
    cursor: pointer;
    align-items: center;
    padding: 2px 5px;
    height: 22vw;
    width: 100%;
    margin-bottom: 3vw;
    border: 1px solid lightskyblue;
}


.item_title,
.package_title {
    justify-content: space-around;
    padding: 0px 5px;
    width: 60%;
    height: 100%;
}


.item_image {
    width: 40%;
}

.item_image img {
    border-radius: 5px;
    width: 90%;
    height: 95%;
    object-fit: cover;
    object-position: center;
}

.item_page_upper_wrapper {
    justify-content: space-around;
    margin: 2vw auto;
    width: 90vw;
}

.item_page_image_wrapper {
    width: 50%;
}

.item_image_container {
    height: 80%;
    width: 100%;
}

.item_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imageSlide {
    width: 100%;
    height: 100%;
    display: none;
}

.activeSlide {
    display: block;
}

.item_image_thumbnails {
    margin-top: 5px;
    justify-content: space-around;
    height: 20%;
    width: 70%;
}

.imageThumb {
    border-radius: 5px;
    width: 30%;
    height: 100%;
}

.item_image_thumbnails img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.activeThumb {
    border: 1.5px solid orangered;
}

.item_page_details_wrapper {
    padding: 0 2vw;
    justify-content: space-around;
    width: 50%;
}

.item_page_mobile_order_button {
    display: none;
}

.item_page_pc_order_button {
    width: 100%;
    font-size: 2.5vw;
}



/* SHOP */

/* SOLAR */
.solar_hero_container {
    position: relative;
    height: 35vw;
}

.solar_hero_front {
    padding: 10px 0px;
    color: white;
    position: absolute;
    left: 2%;
    top: 35%;
    font-size: 3vw;
}

.solar_hero_back {
    /* display: none;  */
    height: 100%;
    width: 100%;
}

.solar_hero_slides {
    height: 100%;
    flex: 2;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.solar_hero_slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

/* .solar_hero_overlay {
    position: absolute;
    bottom: 4vw;
    height: 40%;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 100);
    opacity: 0.4;
} */

/* .solar_hero_text {
    position: absolute;
    padding: 5px 20px;
    color: white;
    bottom: 4vw;
} */

.solar_packages_wrapper {
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    margin: 3vw auto;
}

.solar_packages_group {
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.package_box {
    cursor: pointer;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 31%;
    height: 550px;
    margin-bottom: 3vw;
    background-color: transparent;
}

.package_card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.package_card_front {
    border-radius: 5px;
    background-color: rgb(216, 235, 250);
    width: 100%;
    margin-bottom: 10px;
}

.package_card_back {
    background-color: rgb(216, 235, 250);
    transform: rotateY(180deg);
}

.package_header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 15px;
    width: 100%;
}

.package_image {
    /* background-color: #ccc; */
    width: 95%;
    height: 40%;
}

.package_image img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    object-position: center;
}

.package_body {
    padding: 20px 15px;
    width: 100%;

}

.package_body ul {
    justify-content: space-around;
}

.package_body li {
    padding: 1vw;
}

.package_button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.flipcard_btn {
    width: 50%;
    padding: 3px;
    border-radius: 5px;
}

.purple {
    color: white;
    background-color: purple;
}

.purple_border {
    color: purple;
    background-color: rgba(128, 0, 128, 0.1);
}


.green {
    color: white;
    background-color: seagreen;
}

.green_border {
    color: seagreen;
    background-color: rgba(46, 139, 87, 0.1);
}


.blue {
    color: white;
    background-color: blue;
}

.blue_border {
    color: blue;
    background-color: rgba(0, 0, 255, 0.1);
}


.package_card_front,
.package_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



/* SOLAR */

/* BLOG */
.blog_nav {
    position: sticky;
    top: 55px;
    z-index: 8;
}

.blog_nav,
.blog_footer {
    color: white;
    background-color: rgb(0, 0, 100);
}

.blog_nav ul,
.blog_footer ul {
    list-style-type: none
}

.blog_nav a,
.blog_footer a {
    color: white;
}


.blog_nav_links,
.blog_footer_links {
    justify-content: center;
}

.articles_area_wrapper {
    background-color: rgba(0, 0, 255, 0.1);
    /* width: 95vw; */
    margin: 0 auto;
    justify-content: space-around;
}

.articles_search {
    justify-content: center;
    background-color: white;
    padding: 10px;
    width: 50%;
    margin-top: 2vw;
}

.articles_search input {

    width: 60%;
    margin-right: 10px;
}

.articles_wrapper {
    justify-content: space-around;
    padding: 2vw;
    width: 95%;
    margin: 1vw auto;
}

.articles_main_group {
    width: 75%;
    margin-bottom: 5vw;

}

.article_box {
    background-color: whitesmoke;
    padding: 15px;
    margin: 10px 2px;
    justify-content: space-around;
    width: 80%;
    height: 25vw;
}

.article_body {
    justify-content: space-around;
    align-items: center;
}

.article_image {
    width: 30%;
}

.article_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article_excerpt {
    width: 65%;
}

.articles_sidebar {
    width: 25%;
}

.sidebox {
    background-color: whitesmoke;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 10px 2px;
}


/* BLOG */



/* BLOG MOBILE */
@media only screen and (max-width: 1023px) {

    /* BLOG */

    .articles_search {
        width: 70%;
    }

    .articles_wrapper {
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
    }

    .articles_main_group {
        width: 90%;
    }

    .article_box {
        font-size: 3vw;
        height: 60vw;
        width: 100%;
    }

    .articles_sidebar {
        width: 90%;
    }

    .sidebox {
        height: 30vw;
    }

    /* BLOG */

}


@media only screen and (max-width: 768px) {

    .contactbar {
        font-size: 0.8em;
        line-height: 1.8;
        padding: 2px 10px;
    }

    #navbar {
        padding: 3px 10px;
    }

    #menu_icon,
    .shop_link {
        display: block;
        cursor: pointer;
    }


    .shop_link a {
        border-radius: 5px;
        color: rgb(0, 0, 100, );
        background-color: rgba(0, 0, 100, 0.1);
    }

    .nav_links {
        display: none;
    }

    #nav_content {
        position: relative;
    }

    .mobile_nav {
        z-index: 9;
        display: block;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        padding: 0px 35px;
        position: absolute;
        top: 50px;
        right: -50px;
    }

    .hero_container {
        height: 70vw;
    }

    .hero_back {
        flex-direction: column;
    }

    .hero_back img {
        flex: 1;
    }

    .left_hero_back {
        display: none;
        flex: 1;
    }


    .hero_front p {
        font-size: 4.5vw;
    }

    .services_wrapper {
        margin-top: 5vh;
    }

    .services_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .services_group {
        margin-top: 5vh;
        margin-bottom: 5vh;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 70vw;
        position: static;
    }

    .services_box {
        font-size: 5vw;
        margin: 5vw 0px;
        padding: 15px 15px;
        height: 70vw;
        width: 100%;
    }

    .values_wrapper {
        margin-top: 5vh;
        height: 80vw;
    }

    .values_group {
        flex-direction: column;
        justify-content: space-around;
        width: 80vw;
        /* height: 90%; */
    }

    .value_box {
        width: 100%;
        margin-bottom: 5vw;
    }

    /* .value_box i {
        margin-left: 4vw;
        margin-right: 12vw;
    } */

    .view_gallery_wrapper {
        border-radius: 20px;
        width: 70vw;
    }

    .view_gallery_wrapper img {
        border-radius: 20px;
    }

    .view_gallery_overlay {
        font-size: 4vw;
    }

    .reviews_wrapper {
        height: 60vw;
        overflow-x: auto;
    }

    .review_box {
        flex-shrink: 0;
        background-color: rgba(0, 0, 100, 0.1);
        border: 1px solid black;
        height: 80%;
        width: 100%;
    }

    #main {
        padding-bottom: 20rem;
        /* Footer height */
    }

    /* SHOP */

    .items_group {
        width: 95vw;
    }

    .item_box {
        border: none;
        background-color: whitesmoke;
        height: 30vw;
    }


    .item_page_upper_wrapper {
        flex-direction: column;
    }

    .item_page_image_wrapper {
        width: 100%;
    }

    .item_page_details_wrapper {
        width: 100%;
    }

    .item_page_mobile_order_button {
        display: block;
        font-size: 4vw;
        margin: 10px 2px;
        width: 100%;
    }

    .item_page_pc_order_button {
        display: none;
    }


    /* SHOP */

    /* SOLAR */

    .solar_hero_slides {
        flex: 1;
    }

    .solar_hero_front {
        padding: 10px 40px;
        min-height: 15%;
        width: 80%;
        color: white;
        background-color: rgba(0, 0, 100, 0.4);
        left: 0;
        bottom: 0;
        top: unset;
    }

    .solar_packages_wrapper {
        width: 95vw;
    }

    .solar_packages_group {
        flex-direction: column;
    }

    .package_box {
        width: 85%;
    }

    .package_body li {
        padding: 2vw;
    }

    /* SOLAR */



    #footer {
        height: 18rem;
    }


    #footer_links {
        flex-direction: column;
    }


}